
/* esercizio 1 */
.ex-1-square{
  background-color: none;
}
.ex-1-square:hover{
  transition: background-color 3s ease;
  background-color: red;
  cursor: pointer;
}

/* esercizio 2 */
.ex-2-square:active {
  cursor: pointer;
  transition: width 5s ease;
  width: 100%;
}

/* esercizio 3 */
.ex-3-square{
  border-radius: 0 0;
}
.ex-3-square:hover{
  transition: all 2s ease;
  border-radius: 50% 50% ;
  cursor: pointer;
}

/* esercizio 4 */
.ex-4-square{
  opacity: 1;
}
.ex-4-square:hover{
  cursor: pointer;
  transition: all 2s ease;
  opacity: 0;
  }

/* esercizio 5 */
.ex-5-square:hover{
cursor: pointer;
transition: all 1s ease;
margin: 0px;
width:  100px;
height: 100px;
  }

/* esercizio 6 */
.ex-6-img:hover{
  cursor: pointer;
  filter: grayscale(1);
}

/* esercizio 7 */
.ex-7-img:hover{
  cursor: pointer;
  transition: all 2s ease;
  filter: blur(2px) grayscale(1) ;

}

/* esercizio 8 */
.ex-8-img:hover{
  cursor: pointer;
  transition: all 2s ease;
  filter: sepia(100%) brightness(120%) ;
  border-radius: 20px;

}

/* esercizio 9 */
.ex-9-img:hover{
  cursor: pointer;
  transition: all 2s ease;
  filter: sepia(100%) brightness(120%) ;
  border-radius: 20px;
  transform: scale(1.5);
}

/* esercizio 10 */
.ex-10-icon{
  animation-name: rotation-icon;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotation-icon {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

/* esercizio 11 */
 .ex-11-icon:hover{
  cursor: pointer;
  transition: all 3s ease;
  animation-name: rotation;
  animation-duration: 2s;
}
@keyframes rotation {
  0%    {transform:rotate(0deg);}
  60%   {transform:rotate(270deg);}
  100%  {transform:rotate(0deg);}
}

/* esercizio 12 */
.ex-12-button:hover .ex-12-bottom-white{
 cursor: pointer;
 animation-name: traslate-bottom ;
 animation-duration: 3s;
 animation-iteration-count: 1;
}

@keyframes traslate-bottom {
   0%    {right: 20%;}
   50%   {right: calc(100% - 60px);}
   100%  {right: 20%;}
}

.ex-12-button:hover .ex-12-top-white{
 cursor: pointer;
 animation-name: traslate-top ;
 animation-duration: 3s;
 animation-iteration-count: 1;
}
@keyframes traslate-top {
  0%    {left:  10%;}
  50%   {left: calc(100% - 60px);}
  100%  {left:  10%;}
}
